*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display:flex;
    align-items:center;
    padding:20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#e3f2d6;
}
p{
    color:whitesmoke;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left:25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis:50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding:50px 0;
}
.col-2 h1{
    font-size:50px;
    line-height: 60px;
    margin:25px 0;
}
.btn{
    display:inline-block;
    background:#343548;
    color:#e3f2d6;
    padding:8px 30px;
    margin:30px 0;
    border-radius:30px;
    transition:background 0.6s;
}
.btn:hover{
    background:white;
    color:green;
}
.header{
    background:radial-gradient(#242525,#d4efd3);
}
.categories{
    margin:70px 0;
}
#videoBG{
    position: fixed;
    z-index:-1;
}
@media(min-aspect-ratio:16/9){
    #videoBG{
        width:100%;
        height:auto;
    }
}
@media (max-width:767px){
    #videoBG{
        background:url(img/background1.jpg);
        background-size: cover;
    }
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.col4{
    flex-basis:25px;
    padding: 10px;
    min-width:200px;
    margin-bottom:50px;
    transition:transform 0.5s;
}
.col4 img{
    width:100%;
}
.title{
    text-align: center;
    margin:0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#e3f2d6;
}
.title::after{
    content:'';
    background:white;
    width:80px;
    height: 5px;
    border-radius: 5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
h4{
    color:white;
    font-weight: normal;
}.col4 p{
    font-size:14px;
}
.rating .fa{
    color:white
}
.col4:hover{
    transform: translateY(-25px);
}
